services:
  postgres:
    image: postgres:16
    container_name: postgres_container
    restart: always
    ports:
      - "15432:5432"
    environment:
      POSTGRES_DB: cloud_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
