spring:
  profiles:
    active: dev
  application:
    name: cloudStorage
  session:
    store-type: redis
    redis:
      namespace: cloudStorage:sessions
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:postgresql://host.docker.internal:15432/cloud_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

logging:
  level:
    root: INFO
    org.example.cloudstorage: DEBUG
    org.example.cloudstorage.service: TRACE
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

minio:
  url: http://localhost:9000
  access-key: ${MINIO_ROOT_USER}
  secret-key: ${MINIO_ROOT_PASSWORD}
  bucket-name: ${MINIO_BUCKET}
